.wrap {
	max-width: 1484px;
	margin: 0 auto;
	padding: 129px 0px 0px 0px;
}
.container {
	display: flex;
	flex-direction: column;
}
.content_bloc {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
	margin: 74px 0px 0px 0px;
	justify-content: space-between;
}
.content_img {
	height: 32vw;
	width: 33%;
}
.container_img {
	background: #73ce04;
	width: 100%;
	height: 76%;
	margin: 0;
	display: block;
	min-width: 512px;
	min-height: 482px;
}
.img {
	position: relative;
	width: 100%;
	height: 100%;
	right: 120px;
	top: 67px;
	background-size: 100%;
	background-repeat: no-repeat;
	background: no-repeat url('../../assets/Rectangle27.svg');
}

.title {
	color: #000;
	font-size: 60px;
	font-style: normal;
	font-family: 'SemiBold', sans-serif;
	font-weight: 700;
	line-height: 81px;
	letter-spacing: 0;
	text-transform: none;
	width: 80%;
}
.bloc_form {
	width: 100%;
	max-width: 605px;
	height: 545px;
}
@media (min-width: 1925px) {
	.content_img {
		max-height: 620px;
		max-width: 580px;
	}
	.content_bloc {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		margin: 74px 0px 0px 0px;
		justify-content: space-evenly;
	}
	.title {
		width: 73%;
	}
	.wrap {
		max-width: 100%;
		margin: 0 auto;
		padding: 129px 0px 0px 80px;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 1555px) {
	.wrap {
		max-width: 100%;
		margin: 0 auto;
		padding: 129px 0px 0px 45px;
	}
	.container_img {
		background: #73ce04;
		width: 100%;
		height: 76%;
		margin: 0;
		display: block;
		min-width: 100px;
		min-height: 482px;
	}
	.content_img {
		height: 32vw;
		width: 39%;
	}
}
@media (max-width: 1440px) {
	.wrap {
		max-width: 100%;
		margin: 0 auto;
		padding: 129px 0px 0px 45px;
	}
}
@media (max-width: 1315px) {
	.img {
		position: relative;
		width: 100%;
		height: 100%;
		right: 53px;
		top: 50px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
@media (max-width: 1225px) {
	.wrap {
		max-width: 100%;
		margin: 0 auto;
		padding: 129px 45px 0px 45px;
	}

	.content_bloc {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		align-items: center;
		margin: 74px 0px 0px 0px;
		justify-content: space-between;
		gap: 200px;
	}
	.title {
		font-size: 40px;
		line-height: 50px;
	}
	.bloc_form {
		width: 100%;
		max-width: 100%;
		height: 545px;
	}
	.img {
		width: 100%;
		height: 100%;
		right: 120px;
		top: 67px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.content_img {
		height: 53vw;
		width: 64%;
	}
	.container_img {
		width: 100%;
		height: 82%;
		margin: 0;
		display: block;
		min-width: 100px;
		min-height: 137px;
	}
}
@media (max-width: 900px) {
	.title {
		width: 100%;
	}
	.content_img {
		height: 53vw;
		width: 81%;
	}
	.img {
		right: 58px;
		top: 56px;
		background-repeat: no-repeat;
		background: no-repeat url('../../assets/Rectangle27Ipad.svg');
		background-size: 100%;
	}
}
@media (max-width: 550px) {
	.img {
		right: 40px;
		top: -50px;
		background-repeat: no-repeat;
		background: no-repeat url('../../assets/Rectangle29mini.png');
		background-size: 100%;
	}
	.content_img {
		height: 53vw;
		width: 81%;
		margin-top: 100px;
	}
	.content_bloc {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		align-items: center;
		margin: 74px 0px 0px 0px;
		justify-content: space-between;
		gap: 0px;
	}
	.title {
		font-size: 34px;
		line-height: 46px;
		text-align: center;
	}
}
