.container_blok_back {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: auto;
	padding-top: 69px;
}
.block_image_basc {
	height: 81%;
	width: 72%;
	background-color: #73ce04;
	max-height: 577px;
}

.image {
	position: relative;
	width: 100%;
	height: 96%;
	right: 211px;
	top: 94px;
	background-repeat: no-repeat;
	/* background: no-repeat url('../../assets/Rectangle2.svg'); */
	max-width: 564px;
	background-size: 100%;
}

@media (max-width: 1633px) {
	.block_image_basc {
		height: 95%;
		width: 71%;
		background-color: #73ce04;
		max-height: 577px;
	}
	.image {
		width: 100%;
		height: 100%;
		right: 91px;
		top: 80px;
		max-width: 564px;
		background-size: 100%;
	}
}
@media (max-width: 1330px) {
	.block_image_basc {
		height: 95%;
		width: 71%;
		background-color: #73ce04;
		max-height: 451px;
	}
}
@media (max-width: 1200px) {
	.block_image_basc {
		height: 95%;
		width: 71%;
		background-color: #73ce04;
		max-height: 400px;
	}
}
@media (max-width: 1055px) {
	.block_image_basc {
		height: 95%;
		width: 71%;
		background-color: #73ce04;
		max-height: 380px;
	}
}
@media (max-width: 970px) {
	.container_blok_back {
		justify-content: center;
		padding: 29px 0px 0px 108px;
		width: 97%;
	}
	.image {
		/* background: no-repeat url('../../assets/Rectangle42.svg'); */
		height: 265px;
		top: 35px;
		right: 99px;
	}
	.block_image_basc {
		width: 63%;
		height: 84%;
	}
}
@media (max-width: 640px) {
	.container_blok_back {
		padding: 72px 0px 0px 62px;
		width: 93.8%;
	}
	.block_image_basc {
		width: 82%;
		height: 84%;
	}
	.image {
		height: 265px;
		top: 52px;
		right: 69px;
	}
}
@media (max-width: 520px) {
	.image {
		/* background: no-repeat url('../../assets/Rectangle28.svg'); */
	}
}
@media (min-width: 1999px) {
	.container_blok_back {
		display: flex;
		justify-content: flex-end;
		width: 74%;
		height: 700px;
		padding-top: 69px;
	}
}
@media (min-width: 2210px) {
	.container_blok_back {
		display: flex;
		justify-content: flex-end;
		width: 60%;
		height: 700px;
		padding-top: 69px;
	}
}
@media (min-width: 2630px) {
	.container_blok_back {
		width: 50%;
	}
}
@media (min-width: 3000px) {
	.container_blok_back {
		width: 40%;
	}
}
