.titles {
	color: #000;
	font-size: 2.8em;
	font-style: normal;
	font-family: 'fontSemi', sans-serif;
	font-weight: 600;
	line-height: 56px;
	letter-spacing: 0;
	text-transform: none;
}
.titles_white {
	color: #fff;
	font-size: 2.8em;
	font-style: normal;
	font-family: 'fontSemi', sans-serif;
	font-weight: 600;
	line-height: 56px;
	letter-spacing: 0;
	text-transform: none;
}
@media (max-width: 1535px) {
	.titles {
		font-size: 3vw;
		line-height: 56px;
		letter-spacing: 0;
		text-transform: none;
	}
	.titles_white {
		font-size: 3em;
		line-height: 1.4em;
		letter-spacing: 0;
		text-transform: none;
	}
}
@media (max-width: 744px) {
	.titles {
		font-size: 4.3vw;
		line-height: 45px;
		letter-spacing: 0;
		text-transform: none;
	}
	.titles_white {
		font-size: 4.3vw;
		line-height: 45px;
		letter-spacing: 0;
		text-transform: none;
	}
}
@media (max-width: 598px) {
	.titles {
		font-size: 5.2vw;
	}
	.titles_white {
		font-size: 5.2vw;
	}
}
